<!DOCTYPE HTML>
<html>
<head>
    <title>MainU API - 405</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}"/>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <noscript>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}"/>
    </noscript>
</head>
<body class="is-preload">
<div id="wrapper">
    <header id="header" class="alt">
        <span class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt=""/></span>
        <h1>405</h1>
        <p>Estas utilizando un método de acceso inadecuado para acceder a esta dirección. Por favor, consulta la
            documentación para comprobar cómo debe realizarse el acceso a cada URL de la API.</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a style="color:#333333" href="https://github.com/mainu4u">Ir a Github</a></li>
            <li><a href="https://mainu.eus">Ir a mainu.eus</a></li>
        </ul>
    </nav>
</div>
</body>
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</html>
