<!DOCTYPE HTML>
<html>
	<head>
		<title>405: MainU API</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	</head>
	<body id="top">

			<header id="header">
				<div class="content">
					<h1>405</h1>
          <p>Estas utilizando un método de acceso inadecuado para acceder a esta </br>
          dirección. Por favor, consulta la documentación para comprobar cómo </br>
          debe realizarse el acceso a cada URL de la API.</p>
          <ul class="actions">
						<li><a href="https://github.com/mainu4u/MainuAPI/wiki" class="button icon fa-github scrolly">Consulta la wiki</a></li>
					</ul>
				</div>
			</header>

			<footer id="footer">
				<ul class="icons">
						<li><a href="https://github.com/mainu4u" class="icon fa-github">
							<span class="label">GitHub</span></a></li>
							<li><a href="https://mainu.eus" class="icon fa-globe">
								<span class="label">MainU</span></a></li>
				</ul>
			</footer>

			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>
