<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Error 405 - MainU API
  </title>
  <style type="text/css">
  h1, h2, p {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    color: rgb(14, 112, 183)
  }
  h2 {
    font-size: 28px
  }
  h1 {
    font-size: 36px
  }
  p {
    font-size: 14px
  }
  img {
    margin-top: 20px
  }
  </style>
</head>
<body>
  <center>
    <img src="https://i.imgur.com/Wc9VOaZ.png?1" width=150px/>
    <h1><strong>405: Método inadecuado</strong></h1>
    <p>Estas utilizando un método de acceso inadecuado para acceder a esta
    dirección. Por favor, consulta la documentación para comprobar cómo
    debe realizarse el acceso a cada URL de la API.</p>

    <p><font size="1">Puedes consultar la documentación de la API en
    <a href="https://github.com/Gozaita/MainuAPI">Github</a>. MainU API es un
    servicio ofrecido por MainU (<a href="https://www.mainu.eus">www.mainu.eus</a>)
    bajo licencia <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL 3.0</a>.</font></p>
  </center>
</body>
</html>
