<!DOCTYPE HTML>
<html>
<head>
    <title>MainU API - 500</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}"/>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <noscript>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}"/>
    </noscript>
</head>
<body class="is-preload">
<div id="wrapper">
    <header id="header" class="alt">
        <span class="logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt=""/></span>
        <h1>500</h1>
        <p>Ha ocurrido un error en el servidor. Intenta acceder de nuevo en unos minutos. Si el error persiste, ponte en
            contacto con <a href="mailto:dev@mainu.eus">dev@mainu.eus</a> indicando código de error mostrado abajo.
        </p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#more">Código de error</a></li>
            <li><a style="color:#333333" href="https://github.com/mainu4u">Ir a Github</a></li>
            <li><a href="https://mainu.eus">Ir a mainu.eus</a></li>
        </ul>
    </nav>
    <div id="main">
        <section id="more" class="main special">
            {% if errcode %}
                <p><code>500-{{ expl }}</code></p>
            {% else %}
                <p><code>500-NO_INFO</code></p>
            {% endif %}
        </section>
    </div>
</div>
</body>
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</html>
